:root {
    --red: #ca1919;
    --blue: rgb(30, 22, 135);
}


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    height: fit-content;

}

header {
    background-color: var(--red);
    color: white;
    text-align: center;
    padding: 2em;
    border-color: white;
    border-bottom: 0.75em solid;
}

main {
    height: fit-content;
}

footer {

    background-color: var(--red);
    position: absolute;
    top: 882px;
    min-height: 115px;
    width: 100%;
    justify-items: center;
}


footer p {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;


}

.card {
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 10px solid var(--blue);
    width: 230px;
}

.card h2 {
    padding: 5px;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1em;

}

#weather-card {
    height: fit-content;
    width: auto;
}

#desktop-bg-picture {
    display: none;
}



/*Desktop CSS (if the screen is wider than 500 pixels)*/
@media only screen and (min-width: 501px) {

    body,
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }


    body {
        margin: 0px;
    }



    header {
        background-color: var(--red);
        color: white;
        text-align: center;
        padding: 2em;
        border-color: white;
        border-bottom: 0.75em solid;
        position: sticky;
        z-index: 1;
        margin: 0;
    }

    main {
        display: grid;
        grid-template-columns: 1em 1fr 2fr 1fr 1em;
        grid-template-rows: 1fr 1fr;
    }

    #data-card {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #weather-card {
        grid-column: 4/5;
        width: fit-content;
        grid-row-start: 2;
    }


    #desktop-bg-picture {
        background-position: center;
        margin: 0;
        top: 0px;
        left: 0px;
        padding: 0px;
        border: none;
        display: flex;
        align-self: center;
        z-index: 0;
        position: absolute;
        object-fit: cover;
        object-position: center;


    }

    #default-bg-picture {
        display: none;
    }
}